<!DOCTYPE html>
<html>
    <head>
        <title>Taller Bebidas</title>
        <link rel="stylesheet" type="text/css" href="Recursos\bower_components\bootstrap\dist\css\bootstrap.css">
        <link rel="stylesheet" type="text/css" href="Recursos\css\style.css">
        <script type="text/javascript" src="Recursos\bower_components\jquery\dist\jquery.js"></script>
        <script type="text/javascript" src="Recursos\bower_components\angular\angular.js"></script>
        <script type="text/javascript" src="Recursos\bower_components\bootstrap\dist\js\bootstrap.js"></script>
        <!-- Scripts angular controlador y servicio -->

        <script type="text/javascript" src="Recursos/js/presentacion/presentacionCtl.js"></script>
        <script type="text/javascript" src="Recursos/js/presentacion/presentacionSer.js"></script>
    </head>
    <body ng-app="appControladorPresentacion">
        <div class="container-fluid">

            <header>
                <nav class="navbar navbar-inverse">
                    <a  href="index.html" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Taller Cerveza</a>
                </nav>
            </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="Recursos/img/descarga.jfif" style="height: 200px;" alt="" class="img-circle img-responsive center-block">
                    </div>
                </div>
                <br>

                <div ng-controller="CtlPresentacion">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="glyphicon glyphicon-glass"></span> Gestión Presentacion</h3>
                                </div>
                                <div class="panel-body">
                               
                                    <form name="formPresentacion" role="form">


                                 <div class="msgServidor">
                                        
                                </div>

                                     <div ng-show="formPresentacion.nombre.$dirty">
                                        <div ng-show="formPresentacion.cantidad.$error.required" class="alert alert-danger"
                                         role="alert">El campo cantidad es Obligatorio</div>
                                    </div>
                                        <div class="form-group">

                                            <input type="text"  class="form-control" id="codigo"  style="display: none;" ng-model="identificacion.codigo">
                                        </div>  
                                        <div class="form-group" ng-class="{'has-error' : formPresentacion.cantidad.$invalid,'has-success' : formPresentacion.cantidad.$valid}">
                                            <label for="cantidad">Cantidad (ML):</label>
                                            <input type="number" class="form-control" id="cantidad" name="cantidad"  placeholder="Cantidad" ng-model="identificacion.cantidad" min="1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="precio">Precio:</label>
                                            <input type="number" class="form-control" step="any" name="precio" id="descripcion" placeholder="$precio" min="0"  ng-model="identificacion.precio">
                                        </div>
                                        <div class="btn-group btn-group-justified">
                                            <span  class="btn btn-success" ng-disabled="formPresentacion.$invalid" ng-click="guardar('formPresentacion.$valid')">Guardar</span>
                                            <span  id="btnEditar" class="btn btn-warning" ng-click="modificar('formPresentacion')" disabled>Editar</span>
                                        </div>

                                        <br>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">


                                                <div class="panel panel-default">

                                                    <div class="panel-heading">

                                                        <h3 class="panel-title">Listado de las presentaciones</h3>
                                                        <br>
                                                        <br>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-search"></i>
                                                            </span>

                                                            <input type="text" class="form-control" placeholder="Buscar Produccion" ng-model="buscar">
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="table-responsive">

                                                            <table class="table table-responsive table-hover table-striped table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="seleccionable">

                                                                            <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('-codigo')"></a>
                                                                            <label>Codigo</label>
                                                                            <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-codigo')"></a>

                                                                        </th>
                                                                        <th class="seleccionable">

                                                                            <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('cantidad')"></a>
                                                                            <label>Cantidad</label>
                                                                            <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-cantidad')"></a>

                                                                        </th>

                                                                        <th class="seleccionable">
                                                                            <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('precio')"></a>
                                                                            <label>Precio</label>
                                                                            <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-precio')"></a>
                                                                        </th>
                                                                        <th>
                                                                            <label>Eliminar</label>
                                                                        </th>
                                                                </thead>

                                                                <tbody>
                                                                    <tr ng-click="mostrarCampos(obj.codigo)" ng-repeat="obj in presentaciones| orderBy: ordenSeleccionado | filter:buscar">
                                                                        <td>{{obj.codigo| uppercase}}</td>
                                                                        <td>{{obj.cantidad| uppercase}}</td>
                                                                        <td>{{obj.precio| uppercase}}</td>
                                                                        <td><span class="glyphicon glyphicon-trash" ng-click="eliminar(obj.codigo)"></span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
