<!DOCTYPE html>
<html>
    <head>
        <title>Taller Bebidas</title>
        <link rel="stylesheet" type="text/css" href="Recursos\bower_components\bootstrap\dist\css\bootstrap.css">
        <link rel="stylesheet" type="text/css" href="Recursos\css\style.css">
        <script type="text/javascript" src="Recursos\bower_components\jquery\dist\jquery.js"></script>
        <script type="text/javascript" src="Recursos\bower_components\angular\angular.js"></script>
        <script type="text/javascript" src="Recursos\bower_components\bootstrap\dist\js\bootstrap.js"></script>
        <!-- Scripts angular controlador y servicio -->

        <script type="text/javascript" src="Recursos/js/cerveza/cervezaCtl.js"></script>
        <script type="text/javascript" src="Recursos/js/cerveza/cervezaSer.js"></script>
    </head>
    <body ng-app="appControladorCerveza">

        <div ng-controller="CtlCerveza">
            <div class="container-fluid">

                <header>
                    <nav class="navbar navbar-inverse">
                        <a href="index.html" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> Taller Cerveza</a>
                    </nav>
                </header>

                <div class="container">

                    <div class="row">
                        <div class="col-md-12">
                            <img src="Recursos/img/descarga.jfif"  style="height: 200px;" alt="" class="img-circle img-responsive center-block">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-info">

                                <div class="panel-heading">

                                    <h3 class="panel-title"><span class="glyphicon glyphicon-glass"></span> Gestión Cerveza</h3>
                                </div>
                                <div class="panel-body">
                                    <form name="formCerveza" role="form">

                                        <div class="msgServidor">

                                        </div>

                                        <div ng-show="formCerveza.nombre.$dirty">
                                            <div ng-show="formCerveza.nombre.$error.required" class="alert alert-danger"
                                                 role="alert">El campo nombre es Obligatorio</div>
                                        </div>
                                        <div class="form-group">

                                            <input type="text"  class="form-control" id="nombre"  style="display: none;" ng-model="identificacion.codigo">
                                        </div>  
                                        <div class="form-group" ng-class="{'has-error' : formCerveza.nombre.$invalid,'has-success' : formCerveza.nombre.$valid}">
                                            <label for="Nombre">Nombre:</label>
                                            <input type="text" class="form-control" name="nombre"  placeholder="nombre" ng-model="identificacion.nombre" autofocus required>
                                        </div>

                                        <div ng-show="formCerveza.descripcion.$dirty">
                                            <div ng-show="formCerveza.descripcion.$error.required" class="alert alert-danger"
                                                 role="alert">El campo descripcion es Obligatorio</div>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error' : formCerveza.descripcion.$invalid,'has-success' : formCerveza.descripcion.$valid}">
                                            <label for="descripcion">Descripcion:</label>
                                            <input type="text" class="form-control" id="descripcion" placeholder="descripcion" name="descripcion"  ng-model="identificacion.descripcion" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Porcentaje">Procentaje Alcohol:</label>
                                            <input type="number" class="form-control" id="porcentaje"  placeholder="Porcentaje" ng-model="identificacion.porcentaje" step="any" min="1" max="15" required>
                                        </div>

                                        <div class="btn-group btn-group-justified">
                                            <span  class="btn btn-success" ng-disabled="formCerveza.$invalid" ng-click="guardar('formCerveza')">Guardar</span>
                                            <span  id="btnEditar" class="btn btn-warning" ng-click="modificar('formCerveza.$valid')" disabled>Editar</span>
                                            <!--<a href="#" class="btn btn-danger" ng-click="eliminar('formCerveza')" disabled>Eliminar</a> -->
                                        </div>

                                    </form>
                                </div>
                            </div>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Listado de Cervezas</h3>
                                    <br>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Tipos de Cervezas" ng-model="buscar">
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-responsive table-hover table-striped table-condensed">
                                            <thead>
                                                <tr>
                                                    <th class="seleccionable">

                                                        <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('codigo')"></a>
                                                        <label>Codigo</label>
                                                        <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-codigo')"></a>

                                                    </th>
                                                    <th class="seleccionable">

                                                        <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('nombre')"></a>
                                                        <label>Nombre</label>
                                                        <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-nombre')"></a>

                                                    </th>

                                                    <th class="seleccionable">
                                                        <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('descripcion')"></a>
                                                        <label>Descripción</label>
                                                        <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-descripcion')"></a>
                                                    </th>

                                                    <th class="seleccionable">
                                                        <a class="glyphicon glyphicon-triangle-top" ng-click="ordenarPorParametro('porcentaje')"></a>
                                                        <label>Porcentaje</label>
                                                        <a class="glyphicon glyphicon-triangle-bottom" ng-click="ordenarPorParametro('-porcentaje')"></a>
                                                    </th>
                                                    <th>
                                                        <label>Eliminar</label>
                                                    </th>
                                            </thead>
                                            <tbody>
                                                <tr ng-click="mostrarCampos(obj.codigo)" ng-repeat="obj in cervezas| orderBy: ordenSeleccionado | filter:buscar">
                                                    <td>{{obj.codigo| uppercase}}</td>
                                                    <td>{{obj.nombre| uppercase}}</td>
                                                    <td>{{obj.descripcion| uppercase}}</td>
                                                    <td>{{obj.porcentaje| uppercase}}</td>
                                                    <td><span class="glyphicon glyphicon-trash" ng-click="eliminar(obj.codigo)"></span></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>